{% extends 'app/base.html' %}
{% load static %}
{% load markdown_deux_tags %}
{% block title %}Home{% endblock title %}

<style>
  .hover-notification {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: block;
  }

  .animated-text {
    animation: fadeInOut 2s infinite;
  }

  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }

  .card-text {
    margin-bottom: 0.5rem;
  }
  .card-text.text-muted {
    font-size: 0.9rem;
  }
  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }
</style>

{% block banner_slider %}
<!-- Notification for missing customer details -->
{% if user.is_authenticated and not customers %}
<div class="alert alert-warning hover-notification" role="alert">
  Please <a href="{% url 'profile' %}" class="alert-link">update your profile</a> to make your shopping and selling experience smooth.
</div>
{% endif %}

<!--Banner Slider-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for banner in banners %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}">
        <img src="{{ banner.image.url }}" class="d-block w-100" alt="...">
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<!-- End Banner Slider -->
{% endblock banner_slider %}

{% block chatbox %}
<!-- Chatbox Section -->
<div id="chatbox-section" class="d-flex justify-content-center">
  <div class="container border border-4 rounded shadow-lg m-2 p-2 bg-light d-flex flex-column" style="max-height: 400px; border-radius: 15px; box-shadow: 0 4px 8px rgba(255, 215, 0, 0.3); border-color: #0077be;">
    <h2 class="text-center text-primary mb-3" style="font-family: 'Comic Sans MS', cursive, sans-serif;">AI Lecturer</h2>
    <div id="chatbox-messages" style="flex: 1; overflow-y: auto;">
      <!-- Messages Section -->
      {% if messages %}
        {% for message in messages %}
          {% if message.user_message %}
          <div class="d-flex justify-content-end">
            <div class="p-2 m-1 bg-primary text-white rounded">
              <strong>User:</strong> {{ message.user_message|markdown }}
            </div>
          </div>
          {% endif %}
          {% if message.bot_response %}
          <div class="d-flex justify-content-start">
            <div class="p-2 m-1 bg-secondary text-white rounded">
              <strong>AI Lecturer:</strong> {{ message.bot_response|markdown }}
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="d-flex justify-content-center">
          <div class="p-2 m-1 bg-light text-dark rounded animated-text">
            <strong>Ask AI Lecturer anything!</strong>
          </div>
        </div>
      {% endif %}
    </div>
    <div style="background-color: #f8f9fa;">
      <!-- Form Section -->
      <form action="{% url 'send_message' %}#chatbox-section" method="post" class="d-flex">
          {% csrf_token %}
          <textarea name="user_message" class="form-control me-2" style="background-color: #e9ecef;" placeholder="Niulize Chochote Nitakujibu ..."></textarea>
          <input type="submit" value="Send" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var chatboxMessages = document.getElementById("chatbox-messages");
    chatboxMessages.scrollTop = chatboxMessages.scrollHeight;
  });
</script>
{% endblock chatbox %}

{% block livesale %}
<!-- Live Sale Section -->
<div class="container">
  <div class="row bg-danger text-center p-5 text-white border-bottom shadow">
    <h1>SALE IS LIVE NOW</h1>
    <span>5% Instant Discount If You Are At The University of Dodoma</span>
    <small class="fw-lighter">Term and Condition Applied (For details visit Bank's official Website)</small>
  </div>
</div> 
<!-- End Live Sale Section -->
{% endblock livesale %}

{% block main-content %}

<!-- 1st Product Slider -->
<div class="m-3">
  {% if mobile %}
    <h2 class="text-center my-4">Mobiles</h2>
    <!-- Slider 1 -->
    <div class="owl-carousel" id="slider1">
      {% for mobiles in mobile %}
        <a href="{% url 'product-detail' pk=mobiles.id %}" class="btn">
          <div class="card text-center shadow-sm" style="width: 18rem;">
            <img src="{{mobiles.image.url}}" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{ mobiles.title |truncatewords:3 }}</h5>
              <p class="card-text">TSh {{mobiles.price}}</p>
              <p class="card-text text-muted">
                <i class="fas fa-map-marker-alt"></i> {{ mobiles.user.customer.university }}, {{ mobiles.user.customer.college }}
              </p>
              <p class="card-text text-muted">
                <i class="fas fa-star" style="color: 
                  {% if mobiles.user.customer.subscription.level == 'Bronze' %}#cd7f32
                  {% elif mobiles.user.customer.subscription.level == 'Silver' %}#c0c0c0
                  {% elif mobiles.user.customer.subscription.level == 'Gold' %}#ffd700
                  {% endif %};"></i> {{ mobiles.user.customer.subscription.level }} Seller
              </p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>

<div class="m-3">
  {% if cloth %}
    <h2 class="text-center my-4">Clothing</h2>
    <!-- Slider 1 -->
    <div class="owl-carousel" id="slider1">
      {% for cloths in cloth %}
        <a href="{% url 'product-detail' pk=cloths.id %}" class="btn">
          <div class="card text-center shadow-sm" style="width: 18rem;">
            <img src="{{cloths.image.url}}" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{ cloths.title |truncatewords:3 }}</h5>
              <p class="card-text">TSh {{cloths.price}}</p>
              <p class="card-text text-muted">
                <i class="fas fa-map-marker-alt"></i> {{ cloths.user.customer.university }}, {{ cloths.user.customer.college }}
              </p>
              <p class="card-text text-muted">
                <i class="fas fa-star" style="color: 
                  {% if cloths.user.customer.subscription.level == 'Bronze' %}#cd7f32
                  {% elif cloths.user.customer.subscription.level == 'Silver' %}#c0c0c0
                  {% elif cloths.user.customer.subscription.level == 'Gold' %}#ffd700
                  {% endif %};"></i> {{ cloths.user.customer.subscription.level }} Seller
              </p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>

<div class="m-3">
  {% if electronics %}
    <h2 class="text-center my-4">Electronics</h2>
    <!-- Slider 1 -->
    <div class="owl-carousel" id="slider1">
      {% for product in electronics %}
        <a href="{% url 'product-detail' pk=product.id %}" class="btn">
          <div class="card text-center shadow-sm" style="width: 18rem;">
            <img src="{{product.image.url}}" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{ product.title |truncatewords:3 }}</h5>
              <p class="card-text">TSh {{product.price}}</p>
              <p class="card-text text-muted">
                <i class="fas fa-map-marker-alt"></i> {{ product.user.customer.university }}, {{ product.user.customer.college }}
              </p>
              <p class="card-text text-muted">
                <i class="fas fa-star" style="color: 
                  {% if product.user.customer.subscription.level == 'Bronze' %}#cd7f32
                  {% elif product.user.customer.subscription.level == 'Silver' %}#c0c0c0
                  {% elif product.user.customer.subscription.level == 'Gold' %}#ffd700
                  {% endif %};"></i> {{ product.user.customer.subscription.level }} Seller
              </p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>

<div class="m-3">
  {% if books %}
    <h2 class="text-center my-4">Books</h2>
    <!-- Slider 1 -->
    <div class="owl-carousel" id="slider1">
      {% for book in books %}
        <a href="{% url 'product-detail' pk=book.id %}" class="btn">
          <div class="card text-center shadow-sm" style="width: 18rem;">
            <img src="{{book.image.url}}" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{ book.title |truncatewords:3 }}</h5>
              <p class="card-text">TSh {{book.price}}</p>
              <p class="card-text text-muted">
                <i class="fas fa-map-marker-alt"></i> {{ book.user.customer.university }}, {{ book.user.customer.college }}
              </p>
              <p class="card-text text-muted">
                <i class="fas fa-star" style="color: 
                  {% if book.user.customer.subscription.level == 'Bronze' %}#cd7f32
                  {% elif book.user.customer.subscription.level == 'Silver' %}#c0c0c0
                  {% elif book.user.customer.subscription.level == 'Gold' %}#ffd700
                  {% endif %};"></i> {{ book.user.customer.subscription.level }} Seller
              </p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>

<div class="m-3">
  {% if accessorie %}
    <h2 class="text-center my-4">Accessories</h2>
    <!-- Slider 1 -->
    <div class="owl-carousel" id="slider1">
      {% for accessory in accessorie %}
        <a href="{% url 'product-detail' pk=accessory.id %}" class="btn">
          <div class="card text-center shadow-sm" style="width: 18rem;">
            <img src="{{accessory.image.url}}" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{ accessory.title |truncatewords:3 }}</h5>
              <p class="card-text">TSh {{accessory.price}}</p>
              <p class="card-text text-muted">
                <i class="fas fa-map-marker-alt"></i> {{ accessory.user.customer.university }}, {{ accessory.user.customer.college }}
              </p>
              <p class="card-text text-muted">
                <i class="fas fa-star" style="color: 
                  {% if accessory.user.customer.subscription.level == 'Bronze' %}#cd7f32
                  {% elif accessory.user.customer.subscription.level == 'Silver' %}#c0c0c0
                  {% elif accessory.user.customer.subscription.level == 'Gold' %}#ffd700
                  {% endif %};"></i> {{ accessory.user.customer.subscription.level }} Seller
              </p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% endblock main-content %}