{% extends 'app/base.html' %}
{% load static %}
{% block title %}Set New Password{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Set New Password</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    <div class="mb-3">
     <label for="id_new_password1" class="form-label">New Password</label>
     <input type="password" class="form-control" id="id_new_password1" name="new_password1" required>
     {% if form.new_password1.errors %}
        <div class="text-danger small">{{ form.new_password1.errors.0 }}</div>
     {% endif %}
    </div>
    <div class="mb-3">
     <label for="id_new_password2" class="form-label">Confirm New Password</label>
     <input type="password" class="form-control" id="id_new_password2" name="new_password2" required>
     {% if form.new_password2.errors %}
        <div class="text-danger small">{{ form.new_password2.errors.0 }}</div>
     {% endif %}
    </div>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <ul class="mb-0">
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <input type="submit" class="btn btn-primary mt-4" value="Change Password">
    <br>
    <div class="text-center text-primary fw-bold"><small><a href="{% url 'login' %}"
       class="text-danger">Back to Login</a> </small></div>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}