{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Sent{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <div class="shadow p-5 text-center">
    <h3>Password Reset Sent</h3>
    <hr>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Check your email!</h4>
      <p>We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive them shortly.</p>
      <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </div>
    <div class="text-center text-primary fw-bold">
      <small><a href="{% url 'login' %}" class="text-danger">Back to Login</a></small>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}