aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
annotated-types==0.7.0
APScheduler==3.11.0
asgiref==3.8.1
attrs==25.3.0
beautifulsoup4==4.13.4
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==45.0.5
dj-database-url==2.3.0
Django==4.2.20
django-apscheduler==0.7.0
django-crispy-forms==2.1
django-markdown-deux==1.0.6
django-model-utils==4.4.0
django-tinymce==4.1.0
django-webpush==0.3.6
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
frozenlist==1.7.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.164.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.69.1
grpcio==1.71.0
grpcio-status==1.71.0
gunicorn==23.0.0
http_ece==1.2.1
httplib2==0.22.0
idna==3.10
Markdown==3.5.2
markdown2==2.5.3
multidict==6.6.3
numpy==2.3.2
packaging==24.2
pandas==2.3.1
pdfkit==1.0.0
pillow==10.2.0
propcache==0.3.2
proto-plus==1.26.1
protobuf==5.29.3
psycopg2-binary==2.9.10
py-vapid==1.9.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
PyMySQL==1.1.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
pywebpush==2.0.3
requests==2.32.3
rsa==4.9
six==1.17.0
soupsieve==2.7
sqlparse==0.5.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
uritemplate==4.1.1
urllib3==2.3.0
whitenoise==6.9.0
yarl==1.20.1
