<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
    {% if not request.user.is_authenticated and not messages %}
    <div>
        <strong>Your session has expired. Please <a href="{% url 'login' %}">log in</a> to continue.</strong>
    </div>
    {% else %}
    {% for message in messages %}
    <div>
        <strong>User:</strong>  {{ message.user_message }}
    </div>
    <div>
        <strong>Bot:</strong>  {{ message.bot_response }}
    </div>
    {% endfor %}

    <form action="{% url 'send_message' %} " method="post">
        {% csrf_token %}
        <textarea name="user_message"></textarea>
        <input type="submit" value="Send">
    </form>
    {% endif %}
</body>
</html>