
{% extends "app/base.html" %}
{% load static %}

{# Title block for <title> tag #}
{% block title %}
    {% if title %}
        {{ title }} | Chuo Market Jobs
    {% else %}
        Chuo Market Jobs - Find Your Next Opportunity
    {% endif %}
{% endblock %}

{# Meta description and keywords for SEO #}
{% block meta_description %}Find the latest jobs, internships, and career opportunities on Chuo Market Jobs.{% endblock %}
{% block meta_keywords %}jobs, careers, internships, employment, Tanzania, Chuo Market{% endblock %}

{# Open Graph and Twitter meta tags #}
{% block og_title %}Chuo Market Jobs{% endblock %}
{% block og_description %}Find your next opportunity on Chuo Market Jobs.{% endblock %}
{% block og_image %}{{ base_url }}{% static 'jobs/images/jobs-og.png' %}{% endblock %}
{% block og_type %}website{% endblock %}

{% block twitter_title %}Chuo Market Jobs{% endblock %}
{% block twitter_description %}Find your next opportunity on Chuo Market Jobs.{% endblock %}
{% block twitter_image %}{{ base_url }}{% static 'jobs/images/jobs-og.png' %}{% endblock %}

{# Extra CSS #}
{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'jobs/css/style.css' %}">
{% endblock %}

{# Main content area, mapped to app/base.html's main-content block #}
{% block main-content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-3">
            <!-- Sidebar -->
            ...existing code...
        </div>
        <div class="col-lg-9">
            <!-- Main Content Area -->
            {% block job_content %}
            <div class="alert alert-info">
                Please select a job from the list or search for jobs using the sidebar.
            </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{# Extra JS #}
{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'jobs/js/jobs.js' %}"></script>
{% endblock %}
